# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build
/dist

# testing
/coverage
*.lcov

# env files
.env
.env.*
!.env.example

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# caches
.eslintcache
.cache
.turbo
.vercel

# secrets / certificates
*.pem
*.key

# os
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# editors
.idea/
*.swp
*.swo
*~

seeme.md

